import React, { Component } from 'react';
import logo from './logo.svg';
import './App.css';

class App extends Component {
  render() {
    return (
      <div className="container">
      <div className="row">

      <div className="timeline-centered">

      <article className="timeline-entry">

      <div className="timeline-entry-inner">

      <div className="timeline-icon bg-success">
      <i className="entypo-feather"></i>
      </div>

      <div className="timeline-label">
      <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
      <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
      </div>
      </div>

      </article>


      <article className="timeline-entry">

      <div className="timeline-entry-inner">

      <div className="timeline-icon bg-secondary">
      <i className="entypo-suitcase"></i>
      </div>

      <div className="timeline-label">
      <h2><a href="#">Job Meeting</a></h2>
      <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
      </div>
      </div>

      </article>


      <article className="timeline-entry">

      <div className="timeline-entry-inner">

      <div className="timeline-icon bg-info">
      <i className="entypo-location"></i>
      </div>

      <div className="timeline-label">
      <h2><a href="#">Arlind Nushi</a> <span>checked in at</span> <a href="#">Laborator</a></h2>

      </div>
      </div>

      </article>


      <article className="timeline-entry">

      <div className="timeline-entry-inner">

      <div className="timeline-icon bg-warning">
      <i className="entypo-camera"></i>
      </div>

      <div className="timeline-label">
      <h2><a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a></h2>

      <blockquote>Pianoforte principles our unaffected not for astonished travelling are particular.</blockquote>

      </div>
      </div>

      </article>


      <article className="timeline-entry begin">

      <div className="timeline-entry-inner">

      <div className="timeline-icon" >
      <i className="entypo-flight"></i> +
      </div>

      </div>

      </article>

      </div>


      </div>
      </div>
    );
  }
}

export default App;
